@charset "utf-8";

$cyberGreen: #8bc34a;
$border: #0cee04;
$textColor1: #1b5e20;
$textColor2:#00aaff;

header{
    width:100%;
	margin: 0;
	border-bottom: $border 2px solid;
	position: fixed;
	z-index: 5000;
	top: 0;
    background-color:black;

    .wrapper{
        overflow: hidden;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }

    h1{
        float: left;
        color:white;
        font-size: 30px;
        font-weight: unset;
        font-family: cursive, system-ui;
        width: 100%;
        text-shadow:	1px 1px #1e9b00, -1px 1px #1e9b00,
                        1px -1px #1e9b00, -1px -1px #1e9b00;

        img{
            position:relative;
            top: 10px;
         }

         .logout-button{
            width:15%;
            height:50px;
            position:relative;
            bottom:10px;
            left:550px;
            color:$textColor2;
            border: 2px solid $cyberGreen;
            background: $textColor1;
            font-size:18px;
            font-weight: bold;
            cursor: pointer;
         }

         .profile-edit-button{
            width:15%;
            height:50px;
            position:relative;
            bottom:10px;
            left:625px;
            color:$textColor2;
            border: 2px solid $cyberGreen;
            background: $textColor1;
            font-size:18px;
            font-weight: bold;
            cursor: pointer;
         }

         .logout-button:hover,
         .profile-edit-button:hover {
            opacity: 0.7;
        }
    }
}



