@charset "utf-8";
@use "global/Variable"; //変数が定義されたファイルの読み込み
@import "global/Classname"; //クラスが定義されたファイルの読み込み

.main-img_1-1{
    position: relative;
    top: 20px;
    left:10px;
    z-index: 10;
}

.main-p_1-1{
    width: 450px;
    min-height: 100px;
    position: relative;
    top: 10px;
    left:10px;
    background-color: Variable.$text-color1;
    color:Variable.$border-color2;
	border: 5px solid Variable.$border-color2;
	border-radius: 15px;
	padding:20px;
    font-size: 15px;
	font-weight: bold;
}

.main-btn_1-1{
    display: block;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
    color: Variable.$border-color2;
    border: 5px solid Variable.$border-color2;
    background-color: Variable.$text-color1;
    font-size: 30px;
    cursor: pointer;
}

.main-div_1-1{
    height: 50px;
    position: relative;
    bottom: 65px;
    font-size: 25px;
    text-align: center;
    color: Variable.$border-color2;
    border-top: 2px solid Variable.$border-color2;
    border-bottom: 2px solid Variable.$border-color2;
    background: Variable.$text-color1;

        .div-span_1-1{
            line-height: 50px;
        }
    }

.main-div_1-2{
    display: flex;
    position: relative;
    right: 60px;

    .div-btn_1-1{
        margin: -2% 12% 0 12%;
        width: 300px;
        height: 100px;
        color: Variable.$border-color2;
        border: 5px solid Variable.$button-border-color1;
        background: Variable.$text-color1;
        font-size: 30px;
        cursor: pointer;
     }

    .div-btn_1-2{
        margin: -2% 12% 0 0;
        width: 300px;
        height: 100px;
        color: Variable.$border-color2;
        border: 5px solid Variable.$button-border-color2;
        background: Variable.$text-color1;
        font-size: 30px;
        cursor: pointer;
    }

    .div-btn_1-3{
        margin: -2% 0 0 0;
        width: 300px;
        height: 100px;
        color: Variable.$border-color2;
        border: 5px solid Variable.$button-border-color3;
        background: Variable.$text-color1;
        font-size: 30px;
        cursor: pointer;
    }
}

.main-btn_1-1:hover,
.div-btn_1-1:hover,
.div-btn_1-2:hover,
.div-btn_1-3:hover{    
    opacity: 0.7;
}