@charset "utf-8";

$back-color: black; 
$text-color1: #1b5e20;
$text-color2: #00aaff;
$text-color3: white;
$text-shadow-color: #1e9b00;
$border-color1: #0cee04;
$border-color2: #8bc34a;
$button-border-color1: #FFCC80;
$button-border-color2: #EF5350;
$button-border-color3: #0D47A1;

